{{!-- <link rel="stylesheet" href="css/style.css"> --}}
{{!-- {{>register}} --}}
<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <div class="container">
    <h2>Welcome</h2>
    <p><a href="/register">Register here:</a></p>
  </div>
</body>
</html>